# Log level: DEBUG, INFO, WARN, ERROR, FATAL
LOG_LEVEL=INFO
TZ=UTC

TELEGRAM_BOT_TOKEN=token
TELEGRAM_CHAT_ID=chat_id

WALLET_ADDRESSES=0x1111,0x2222
ETHERSCAN_API_KEY=your_etherscan_api_key

SEPOLIAR_ENCRYPTION_KEY=your_encryption_key
