# Log level: DEBUG, INFO, WARN, ERROR, FATAL
LOG_LEVEL=INFO
TZ=UTC

TELEGRAM_BOT_TOKEN=token
TELEGRAM_CHAT_ID=chat_id

# Tokens to claim: ETH, PYUSD (comma-separated)
ENABLED_TOKENS=ETH,PYUSD
WALLET_ADDRESSES=0x1111,0x2222
