# Log level: DEBUG, INFO, WARN, ERROR, FATAL
LOG_LEVEL=INFO
# Tokens to claim: ETH, PYUSD (comma-separated)
ENABLED_TOKENS=ETH,PYUSD
TZ=UTC

TELEGRAM_BOT_TOKEN=token
TELEGRAM_CHAT_ID=chat_id

WALLET_ADDRESS_ETH=0x...
